* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-menu{
    position: relative;
    z-index: 9999;
}

.table {
    border-collapse: collapse;
    width: 90%;
    margin: 30px auto;
}

.table th, .table td {
padding: 8px;
text-align: left;
border: 1px solid rgb(255, 255, 255);
}

.table th {
background-color: rgb(38 55 96);
color: rgb(255, 255, 255);
font-weight: 700;
border: 1px solid rgb(255, 255, 255);
}

.table tr {
font-family: "Courier New";
color: rgb(38 55 96);
font-weight: 600;
background-color: rgba(255, 255, 255, 0.637);
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./31.jpg');
    background-position:0px -200px;
}

.headerContainer {
width: 100%;
max-width: 1024px;
margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
margin: 20px 0px 0px 0px;
}

.headerList {
display: flex;
gap: 40px;
margin-bottom: 50px;
}

.headerListItem {
display: flex;
align-items: center;
gap: 10px;
}

.headerListItem.active {
border: 1px solid white;
padding: 10px;
border-radius: 20px;
}

.headerDesc {
margin: 20px 0px;
}

.headerBtn {
background-color: #0071c2;
color: white;
font-weight: 500;
border: none;
padding: 10px;
cursor: pointer;
}

.headerSearch {
height: 30px;
background-color: white;
border: 3px solid #febb02;
display: flex;
align-items: center;
justify-content: space-around;
padding: 10px 0px;
border-radius: 5px;
position: absolute;
bottom: -25px;
width: 100%;
max-width: 1024px;
}

.headerIcon {
color: lightgray;
}

.headerSearchItem {
display: flex;
align-items: center;
gap: 10px;
}

.headerSearchInput {
border: none;
outline: none;
}

.headerSearchText {
color: lightgray;
cursor: pointer;
}

/*nava*/
.navbar{
height: 50px;
background-color: #003580;
display: flex;
justify-content: center;
}

.navContainer{
width: 100%;
max-width: 1024px;
color: white;
display: flex;
align-items: center;
justify-content: space-between;
}

.logo{
font-weight: 500;
}

.navButton{
margin-left: 20px;
border: none;
padding: 5px 10px;
cursor: pointer;
color: #003580;
}
.pagination {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;

}

.pagination a {
color: black;
text-decoration: none;
transition: background-color 0.3s;
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.pagination a.active, .pagination a:hover {
    background-color:darkslategray;
    color: black;
}
    body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-image: url('../../../Hotel-Website/image/home/31.jpg');
background-position:0px -200px;
}
.title{
text-align: center;
margin-top: 20px;
color: rgb(38 55 96);
text-shadow: 1px 1px 2px rgb(255, 255, 255);
font-size: 35px;
}