* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* nava
  .navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 500;
  }
  
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
  } */

.containerQL {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    max-width: 100%;
    padding: 0 15px;
    margin: auto;
    justify-content: center;
}

.sidebar {
    /* flex: 1; */
    height: calc(100vh - 100px);
    background-color: #eee;
    padding: 20px;
}

.content {
    width: 100%;
    max-width: 2000px;
    display: flex;
    gap: 20px;
    z-index: 1;
    flex-wrap: wrap;
}
.city{
  text-align: center;
  margin: 10px;
}

.city .img_city {
  height: 25vh;
  width: 18vw;
}

.city .des {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    width: 300px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Số dòng hiển thị */
    -webkit-box-orient: vertical; /* Hướng của các box */
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-style: italic;
    margin: auto;
    margin-top: 10px;
  }
/* .footer {
    height: 50px;
    background-color: #ccc;
    text-align: center;
    padding: 10px;
} */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.img_city {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
/* header {
background-color: #0077b6;
color: white;
font-size: 24px;
font-weight: bold;
padding: 20px;
text-align: center;
} */

.title {
  text-align: center;
  margin-top: 20px;
  color: rgb(38 55 96);
  text-shadow: 1px 1px 2px rgb(133, 120, 234);
  font-size: 35px;
}