body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('../../Hotel-Website/image/home/31.jpg');
	background-position:0px -200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

/*nava*/
.navbar{
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}
.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;

    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    width: 70%;
    margin: auto;
    margin-top: 30px;
    padding: 30px 0;

  }
  .btn-group{
    display: flex;
    margin: 10px;
  }
  .back{
    margin: 20px 0 0 20px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    font-style: italic;
    margin-right: 200px;
  }

  .back a {
    color: #263760;
  }

  .back a:hover {
    color: #C1B086;
  }
  .submit{
    background-color: rgba(255,255,255,0.5);
    color: #263760;
    height: 30px;
    margin-top: 25px;
    margin-right: 80px;
  }

  .submit:hover {
    cursor: pointer;
    color: #C1B086;
    background-color: #263760;
  }

  .profile_main{
    display: flex;
    justify-content: space-between;

  }
  .profile{

    margin: 0 50px;
  }
  .profilr_title{
    font-weight: 600;
    color: dimgrey;
    width: 130px;
  }
  .profile_item{
    padding: 20px 30px;
    width: 100%;
    display: flex;
    background-color: white;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 10px;
  }
  .profile_main{
    display: flex;
    justify-content: sp;
  }
  .user-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-profile h2 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .user-profile p {
    font-size: 16px;
    margin: 0;
    font-style: italic;
  }
  
  .user-profile .is-admin {
    color: red;
    font-weight: bold;
  }

  .profile_main{
    display: flex;
  }
  .username,
  .phone-number,
  .address,
  .is-admin,
  .email {
    margin: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="checkbox"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  input[type="submit"] {
    margin: 20px 0 0 20px;
    padding: 6px ;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 80px;
  }

  input:hover {
    cursor: pointer;
    color: #C1B086;
  }

  .title{
    text-align: center;
    margin-top: 20px;
    color: rgb(38 55 96);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    font-size: 35px;
    }