body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* header1 {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
} */

h1 {
	margin: 0;
}

main {
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.hotel {
	width: 48%;
	margin-bottom: 20px;
	background-color: #f7f7f7;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	padding: 10px;
	margin-bottom: 50px;
}

.hotel_item img{
  width: 40%;
}

.img{
	width: 297px;
	height: 162px;
	margin-bottom: 10px;
	border-radius: 5px;
}
.hotel h2 {
	font-size: 24px;
	margin: 0;
	margin: auto;
}

.rating {
	font-size: 18px;
	color: #ffcc00;
	margin-bottom: 10px;
}

.info {
	font-size: 18px;
	margin-top: 10px;
}

.pagination {
	margin-top: 20px;
	display: flex;
	justify-content: center;
  	margin: auto  ;
}

.pagination a {
	display: inline-block;
	background-color: #333;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.pagination a:hover {
	background-color: #666;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.content{
  width: 55%;
  margin-left: 30px;

}
footer {
	height: 50px;
	background-color: #ccc;
	text-align: center;
	padding: 10px;
}
.content .des {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    width: 350px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Số dòng hiển thị */
    -webkit-box-orient: vertical; /* Hướng của các box */
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-style: italic;
    margin-top: 10px;
  }
  .ed{
	display: flex;

  }
  .link{
	text-decoration: none;
	background-color: rgba(1,1,1,0.3);
	padding: 6px 15px;
	border-radius: 10px;
	margin: 0 0 0 40px;
	color: black;
  }
  .hotel_item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
  }
  .star{
  display: inline-block;
  width: 20px; /* độ rộng của ngôi sao */
  height: 20px; /* chiều cao của ngôi sao */
  background-image: url('path/to/star.png');
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.add{
	margin: 20px 0 0 20px;

	width: 13%;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	font-weight: 600;
	font-style: italic;
}
.add_link{
	text-decoration: none;
}
.back{
	margin: 20px 0 0 20px;
	width: 10%;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	font-weight: 600;
	font-style: italic;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header1 {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .header1Container {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
  }
  
  .header1Container.listMode {
    margin: 20px 0px 0px 0px;
  }
  
  .header1List {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
  }
  
  .header1ListItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header1ListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
  }
  
  .header1Desc {
    margin: 20px 0px;
  }
  
  .header1Btn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .header1Search {
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
  }
  
  .header1Icon {
    color: lightgray;
  }
  
  .header1SearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .header1SearchInput {
    border: none;
    outline: none;
  }
  
  .header1SearchText {
    color: lightgray;
    cursor: pointer;
  }

  /*nava*/
  .navbar1{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
  }
  
  .navContainer1{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 500;
  }
  
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
  }
  .btn{
	display: flex;
	justify-content: space-between	;
  }
  .pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;

	}

	.pagination a {
	color: black;
	text-decoration: none;
	transition: background-color 0.3s;
	background-color: rgba(0,0,0,0.3);

	}

	.pagination a.active, .pagination a:hover {
		background-color:darkslategray;
		color: black;
	}
	.title{
    text-align: center;
    margin-top: 20px;
    color: rgb(38 55 96);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    font-size: 35px;
    }